<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <a href="https://twitter.com/DAY6MusicData"><img src="/img/logo.png" alt="데이식스 음원자료 로고" width="100"></a>
        </ul>
        <div style="cursor: pointer;" onclick="location.href='https://twitter.com/DAY6MusicData'"><p class="copyright text-muted">데이식스 음원자료 @DAY6MusicData</p></div>
      </div>
    </div>
  </div>
</footer>
