<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li><a href="https://twitter.com/SEVENTEENCHIVE"><img src="/add-files/img/svt-logo.png" alt="셉카이브 로고" width="120px"></a></li>
        </ul>
        <div style="cursor: pointer;" onclick="location.href='https://twitter.com/SEVENTEENCHIVE'"><p class="copyright text-muted">SVTCHIVE @SEVENTEENCHIVE</p></div>
      </div>
    </div>
  </div>
</footer>
