---
layout: default
---

<!-- Page Header -->
<!-- {% if page.background %} -->

<!-- <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')"> -->
  <!-- {% else %} -->
  <header class="masthead">
    <!-- {% endif %} -->
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>SVTCHIVE</h1>
            <!-- <span class="subheading">순식간에 당신의 재생목록으로</span> -->
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- <header class="masthead" style="background-image: url('/img/bg-support.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="banner-heading">
            <h1>Streaming</h1>
            <span class="subheading">공식 스트리밍리스트</span>
            <div class="m_container">
              <button type="button" onclick="location.href='/support'" class="m_btn m_btn-1">담으러 가기🔥</button></div>
          </div>
        </div>
      </div>
    </div>
  </header> -->

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 10 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h3 class="post-title">{{ post.title }}</h3>
          </a>
        </article>

        <hr>

        {% endfor %}

      </div>
    </div>
  </div>
