---
layout: default
---

<!-- Page Header -->
<!-- {% if page.background %} -->

<!-- <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')"> -->
  <!-- {% else %} -->
  <header class="masthead">
    <!-- {% endif %} -->
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading main">
            <h1>SVTCHIVE</h1>
            <span class="subheading">시간과 공간에 구애받지 않는 세븐틴 저장소🗂️</span>
            <p class="text">
              사이트에 게시된 모든 자료 및 가이드는 자유롭게 공유가 가능합니다. <br>
              조롱, 비난 의도로 사용 및 공유는 금지됩니다.
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- <header class="masthead" style="background-image: url('/img/bg-support.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="banner-heading">
            <h1>Streaming</h1>
            <span class="subheading">공식 스트리밍리스트</span>
            <div class="m_container">
              <button type="button" onclick="location.href='/support'" class="m_btn m_btn-1">담으러 가기🔥</button></div>
          </div>
        </div>
      </div>
    </div>
  </header> -->

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto home-content">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 10 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h3 class="post-title">{{ post.title }}</h3>
            <span class="post-info">{{ post.info }}</span>
          </a>
        </article>

        <hr>

        {% endfor %}

      </div>
    </div>
  </div>
