@charset "utf-8";

/* 전체 수정 */
*{
    font-family: 'Pretendard', sans-serif !important;
    background-color: #131313 !important;
    color: #D9D9D9 !important;
}

body{
    background-color: #131313 !important;
    color: #D9D9D9 !important;
    letter-spacing: -1px;
}

li{
    list-style-type: none;
}

a:hover{
    text-decoration: none !important;
}

.not-black{
    background-color: initial !important;
}

/* 내비게이션 수정 */
nav#mainNav{
    background-color: #131313 !important;
    color: #D9D9D9;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

nav#mainNav .navbar-toggler{
    background-color: #131313;
    border: 1px solid rgba(255,255,255,0.5);
}

/* 홈 제목 수정 */
.page-heading{
    padding: 200px 0 150px;
    text-align: center;
}

.page-heading h1{
    color: #A6A8DC !important;
    margin-bottom: 10px;
    letter-spacing: -2px;
}

.page-heading .subheading{
    font-size: 1rem;
    font-weight: 500;
}

.page-heading .text{
    font-size: 0.8rem !important;
    font-weight: 400 !important;
    color: #888888 !important;
    line-height: 1.2 !important;
}

/* 홈 내용 */
.col-lg-8.col-md-10.mx-auto.home-content{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: space-around;
}

.col-lg-8.col-md-10.mx-auto.home-content hr{
    display: none;
}

.home-content .post-preview{
    width: 300px;
    text-align: center !important;
    padding-bottom: 20px;
    color: #D9D9D9 !important;
    border-bottom: 2px solid #D9D9D9;
}

.home-content .post-title{
    letter-spacing: -2px;
}

span.post-info{
    width: 300px;
    font-weight: 500;
    font-size: 1rem;
}

/* 문서 내용 */
header.masthead .overlay-modify{
    opacity: 1;
}

.post .post-heading{
    padding: 150px 0 100px  !important;
    font-size: 2.25rem;
}

.post .subheading{
    font-weight: 400;
    font-size: 1.7rem;
}

.description{
    margin: 0 0 30px !important;
}

/* 응원법 */
#album{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
    padding-left: 0;
}

.album-content{
    width: 150px;
}

.album-content img{
    width: 150px;
}

.album-content  .album-name{
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    margin: 12px 0;
}

/* 응원법 상세 1 */
.track-description{
    margin: 10px 0 50px 0 !important;
}

.album-track{
    margin: 30px 0;
}

.tracklist{
    padding: 0;
}

.track-container{
    background-color: #313131 !important;
    border-radius: 4px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;
}

.track-title{
    font-size: 1.2rem;
    color: #4A4A4A !important;
    font-weight: 500;
    background-color: transparent !important;
}

.title-right{
    color: #6E6E6E !important;
    background-color: transparent !important;
}

.track-title.have{
    color: #D9D9D9 !important;
}

.button-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.button-box .alpha-text{
    color: #888888 !important;
    margin: 16px 0;
}

.button-box .alpha-button{
    background-color: #394D67 !important;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    text-align: center;
}

/* 응원법 상세 2 */
.song-container{
    background-color: #313131 !important;
    border-radius: 4px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;
}

.song-title{
    font-size: 1.2rem;
    color: #D9D9D9 !important;
    font-weight: 500;
    background-color: transparent !important;
}

.song-right{
    color: #6E6E6E !important;
    background-color: transparent !important;
}

.img-box{
    margin-bottom: 40px;
}

.img-box img{
    width: 100%;
    border-radius: 4px;
}

.media-box iframe{
    /* width="560" height="315"  */
    width: 100%;
    border-radius: 4px;
}