@charset "utf-8";

/* 전체 수정 */
*{
    font-family: 'Pretendard', sans-serif !important;
    background-color: #131313 !important;
    color: #D9D9D9 !important;
}

body{
    background-color: #131313 !important;
    color: #D9D9D9 !important;
    letter-spacing: -2px;
}

/* 내비게이션 수정 */
nav#mainNav{
    background-color: #131313 !important;
    color: #D9D9D9;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

nav#mainNav .navbar-brand {
    letter-spacing: -1px !important;
}

nav#mainNav .navbar-toggler{
    background-color: #131313;
    border: 1px solid rgba(255,255,255,0.5);
}

/* 홈 제목 수정 */
.page-heading{
    padding: 200px 0 150px;
    text-align: center;
}

.page-heading h1{
    color: #A6A8DC !important;
    margin-bottom: 10px;
}

.page-heading .subheading{
    font-size: 1rem;
    font-weight: 500;
}

.page-heading .text{
    font-size: 0.8rem !important;
    font-weight: 400 !important;
    color: #888888 !important;
    line-height: 1.2 !important;
    letter-spacing: -1px;
}

/* 홈 내용 */
.col-lg-8.col-md-10.mx-auto.home-content{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: space-around;
}

.col-lg-8.col-md-10.mx-auto.home-content:hover{

}

.col-lg-8.col-md-10.mx-auto.home-content hr{
    display: none;
}

.home-content .post-preview{
    width: 300px;
    text-align: center !important;
    padding-bottom: 20px;
    color: #D9D9D9 !important;
    border-bottom: 2px solid #D9D9D9;
}

span.post-info{
    width: 300px;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: -1px;
}

/* 문서 내용 */
header.masthead .overlay{
    opacity: 1;
}

/* 응원법 */
#album{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.album-content{
    width: 300px;
}

/* 푸터 수정 */
footer .copyright{
    letter-spacing: -1px;
}